@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 255, 255, 255;
  --border: 228, 228, 231;
  --card: 250, 250, 250;

  --copy-primary: 24, 24, 27;
  --copy-secondary: 113, 113, 122;

  --cta: 107, 33, 168;
  --cta-active: 88, 28, 135;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

.dark {
  --background: 24, 24, 27;
  --border: 63, 63, 70;
  --card: 39, 39, 42;

  --copy-primary: 244, 244, 245;
  --copy-secondary: 161, 161, 170;

  --cta: 124, 58, 237;
  --cta-active: 109, 40, 217;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}
